<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{{ block "title" . }}
			{{ .Site.Title }}
		{{end}}
	</title>
	<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | relURL}}" />
</head>
<body>

	{{ block "main" . }}

	{{ end }}
	
</body>
</html>