<article>
	<header>
		<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
		<div>{{ .Date.Format "02-01-2016" }}</div>
	</header>
	{{ .Summary }}

	<footer>
		<a href="{{.Permalink}}">Read More</a>
	</footer>
</article>