{{ define "main" }}
	<main>
		<header>
			<h1>{{.Title}}</h1>
		</header>

		<div>
			{{ .Content }}
		</div>

		<div>
			{{ range first 10 .Pages }}
				{{ .Render "summary" }}
			{{ end }}
		</div>
	</main>
{{ end }}